/* google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@500&family=Source+Sans+Pro:wght@400;700&family=Spline+Sans:wght@400;500;700&family=Yeseva+One&display=swap');

/*=========================
        common styles 
==========================*/
:root{
    --text-color: #3A3A3A;
    --button-color: #E02C6D;
    --white-color: #ffffff;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--text-color);
    margin: 0;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 12px;
}
.custom-button{
    color: var(--white-color);
    display: inline-block;
    margin-top: 24px;
    background-color: var(--button-color);
    padding: 10px 24px; 
    border-radius: 20px;
    border: 1px solid #aa2354;
    font-size: 16px;
}
.custom-button .fa-arrow-right{
    margin-left: 8px;
}

/* ========================
        header styles 
 =========================*/
 /* Nav-bar css */
 .nav-bar{
    height: 102px;
    display: flex;
    align-items: center;
 }
 .nav-bar h2{
     font-size: 24px;
     font-weight: 700;
     line-height: 36px;
 }
  /* Header css */
.header-content-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column-gap: 3em;
    height: calc(100vh - 102px);
}
.left-content h1{
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
}
.left-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.right-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-content img{
    width: 80%;
}

/*==========================
    Brand-identify Styles
===========================*/
.brand-identify-wrapper{
    margin-bottom: 102px;
}
.brands{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.brand{
    margin: 36px 0;
}

/*==========================
    Product Styles
===========================*/
.products-wrapper > h2{
    font-size: 28px;
    line-height: 70px;
    font-weight: 700;
    text-align: center;
}
.products{
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}
.product{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 17px 15px;
}
.product-content h2{
    font-size: 28px;
    margin: 16px 0;
}
.product-content h3{
    font-size: 24px;
    font-weight: 400;
    margin: 16px 0;
}
.product-content .rating-wrapper{
    display: flex;
    align-items: center;
}
.product-content .rating-wrapper i{
    margin-right: 2px;
    font-size: 11px;
    color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #FB8200;
}
.rating-wrapper i.stared{
    color: #FB8200;
}
.product-content .rating-wrapper span{
    font-size: 17px;
    font-weight: 700;
    margin-left: 6px;
}
.product-content p{
    font-size: 14px;
    font-weight: 700;
    color: #787885;
    line-height: 10px;
}
.see-more-btn{
    color: var(--button-color);
    background: none;
    border: none;
    font-weight: 700;
    padding: initial;
    float: right;
    margin-top: 50px;
}
