/* google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@500&family=Source+Sans+Pro:wght@400;700&family=Spline+Sans:wght@400;500;700&family=Yeseva+One&display=swap');

/*=========================
        common styles 
==========================*/
:root{
    --text-color: #3A3A3A;
    --button-color: #E02C6D;
    --white-color: #ffffff;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--text-color);
    margin: 0;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 12px;
}
.custom-button{
    color: var(--white-color);
    display: inline-block;
    margin-top: 24px;
    background-color: var(--button-color);
    padding: 10px 24px; 
    border-radius: 20px;
    border: 1px solid #aa2354;
    font-size: 16px;
}
.custom-button .fa-arrow-right{
    margin-left: 5px;
}

/* ========================
        header styles 
 =========================*/
 /* Nav-bar css */
 .nav-bar{
    height: 102px;
    display: flex;
    align-items: center;
 }
 .nav-bar h2{
     font-size: 24px;
     font-weight: 700;
     line-height: 36px;
 }
  /* Header css */
.header-content-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column-gap: 3em;
    margin: 50px 0;
}
@keyframes bottomToTop {
    0%{
        bottom: -100%;
    }
    100%{
        bottom: 0;
    }
}
.left-content{
    animation-name: bottomToTop;
    animation-duration: 1s;
    position: relative;
}

.left-content h1{
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
}
.left-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.header-btn{
    transition: background-color 0.3s, margin-left 0.3s ease-in;
}
.header-btn:hover{
    background-color: var(--white-color);
    color: var(--button-color);
}
@keyframes topToBottom {
    0%{
        top:-100%;
    }
    100%{
        top: 0;
    }
}
.right-content{
    animation-name: topToBottom;
    animation-duration: 1s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*==========================
    Brand-identify Styles
===========================*/
.brand-identify-wrapper{
    margin: 102px auto;
}
.brands{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 60px;
    justify-items: center;
    /* justify-content: space-evenly;
    align-items: center; */
}
.brand{
    margin: 36px 0;
    justify-content: center;
    display: flex;
}

/*==========================
    Product Styles
===========================*/
.products-wrapper > h2{
    font-size: 28px;
    line-height: 70px;
    font-weight: 700;
    text-align: center;
}
.products{
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}
.product{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 17px 15px;
}
.product-content h2{
    font-size: 28px;
    margin: 16px 0;
}
.product-content h3{
    font-size: 24px;
    font-weight: 400;
    margin: 16px 0;
}
.product-content .rating-wrapper{
    display: flex;
    align-items: center;
}
.product-content .rating-wrapper i{
    margin-right: 2px;
    font-size: 11px;
    color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #FB8200;
}
.rating-wrapper i.stared{
    color: #FB8200;
}
.product-content .rating-wrapper span{
    font-size: 17px;
    font-weight: 700;
    margin-left: 6px;
}
.product-content p{
    font-size: 14px;
    font-weight: 700;
    color: #787885;
    line-height: 10px;
}
.see-more-btn{
    color: var(--button-color);
    background: none;
    border: none;
    font-weight: 700;
    padding: initial;
    float: right;
    margin-top: 50px;
    clear: both;
}
 

/*==========================
    Footer Styles
===========================*/
footer{
    background-color: #0A0826;
    text-align: center;
}
.footer-wrapper{
    width: 250px;
    margin: 0 auto;
    padding: 50px 0;
}
.footer-wrapper h2{
    color: var(--white-color);
    margin-bottom: 0;
}
.footer-wrapper p{
    color: #D9DBE1;
    margin-top: 8px;
    line-height: 24px;
}
.social-media{
    display: flex;
    justify-content: space-evenly;
}
.social-icon i{
    font-size: 18px;
    color: var(--white-color);
    background-color: #22213C;
    padding: 14px;
    border-radius: 50%;
    cursor: pointer;
}


/*==========================
    Responsive Styles
===========================*/
/* Tablet Devices */
@media only screen and (max-width: 768px){
    /* Header responsive */
    .nav-bar{
        justify-content: center;
    }
    .header-content-wrapper{
        grid-template-columns: 1fr;
    }
    .left-content{
        order: 2;
    }
    .right-content{
        order: 1;
    }

    /* Brands responsive */
    .brands{
        grid-template-columns: repeat(4, 1fr); 
    }
     /* products responsive */
     .products{
        grid-template-columns: repeat(2, 1fr); 
    }
}

/* Mobile Devices */
@media only screen and (max-width: 425px){
     /* Brands responsive */
     .brands{
        grid-template-columns: repeat(3, 1fr); 
    }
    /* products responsive */
    .products{
        grid-template-columns: repeat(1, 1fr); 
    }
}



/* @media only screen and (min-width: 768px) and (max-width: 992px){
    .header-content-wrapper{
        grid-template-columns: 1fr;
    }
} */
